body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #126b8f #012c3d;
}

.container {
  background-image: linear-gradient(#126b8f, #012c3d);
  position: fixed;
  inset: 0;
  z-index: -1;
  box-sizing: border-box;
  height: auto;
}

p,
button {
  font-family: "Space Mono", system-ui;
}

h1,
h2,
label,
textarea,
input {
  font-family: "Bricolage Grotesque", sans-serif;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-left: 70px;
}

.page-home,
.page-about,
.page-contact {
  height: 100vh;
}

.page-works,
.page-experience {
  height: auto;
}

/* HOME */

.box-home {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2rem;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: hidden;
}

.box-home div {
  min-width: fit-content;
}

.content1 {
  width: 50%;
}

.box-img {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 40px;
}

.box-home h1 {
  font-size: 3rem;
  margin: 16px 0px;
}

.box-home span {
  filter: drop-shadow(0 0 5px #00ccffcc);
}

.text-home {
  font-family: "Space Mono", system-ui;
  text-align: start;
  opacity: 0.8;
}

.img-web {
  width: 450px;
  height: 450px;
  border-radius: 12px;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.8));
  image-rendering: auto;
}

.box-btn-home {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.btn-home {
  background-color: #131314;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-home:hover {
  transform: translateY(-5px);
  color: #00ccffcc;
  border-color: #00ccffcc;
}

/* ABOUT */

.box-about {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.content-about {
  width: 60%;
  background-color: #131314;
  padding: 1.2rem;
  border-radius: 12px;
  overflow: hidden;
}

.content-about img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 12px;
  margin-top: 14px;
  border: 2px dashed #00ccffcc;
}

.content-about h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0px;
  filter: drop-shadow(0 0 5px #00ccffcc);
}

.content-about p {
  text-align: left;
  font-size: 1rem;
}

.content-about button {
  background-color: #131314;
  color: #fff;
  border: 2px solid transparent;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  float: right;
  margin: 10px;
}

.hidden-para2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.active-para1 {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.content-skills {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-about {
  display: flex;
  align-items: center;
  width: auto;
  height: 15px;
  font-weight: 500;
  font-size: 12px;
  padding: 8px;
  gap: 6px;
  border-radius: 12px;
  cursor: default;
}

.skills-about:hover {
  transform: scale(1.1);
}

.skills-about:nth-of-type(1) {
  background-color: #00D8FF66;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(2) {
  background-color: #3178c666;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(3) {
  background-color: #1172B866;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(4) {
  background-color: #E44D2666;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(5) {
  background-color: #0096e666;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(6) {
  background-color: #ffffff;
  color: #000;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(7) {
  background-color: #f7df1e66;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(8) {
  background-color: #ffffff;
  color: #000;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(9) {
  background-color: #13aa5266;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(10) {
  background-color: #49A32B66;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(11) {
  background-color: #0288D166;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(12) {
  background-color: #44a8b366;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(13) {
  background-color: #E9542066;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(14) {
  background-color: #4D9ABF66;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(15) {
  background-color: #33679166;
  color: #fff;
  transition: transform 0.3s ease;
}

.skills-about:nth-of-type(16) {
  background-color: #ffa50e66;
  color: #fff;
  transition: transform 0.3s ease;
}

/* WORKS */

.box-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.title-works h1 {
  font-size: 5rem;
  margin: 0px;
  filter: drop-shadow(0 0 5px #00ccffcc);
}

.title-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-works {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 88%;
  background-color: #131314;
  border-radius: 12px;
  gap: 1.5rem;
  overflow: hidden;
}

.card-img {
  display: flex;
  justify-content: center;
  width: 50%;
}

.card-works img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  image-rendering: auto;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.8));
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.5rem;
}

.card-text h1 {
  font-size: 1.5rem;
  margin: 0px;
}

.card-text p {
  margin: 0px;
}

.btn-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.btn-works button {
  background-color: #131314;
  color: #fff;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-color: #fff;
  border-radius: 8px;
  font-size: 14px;
  font-family: "Space Mono", system-ui;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-works a {
  text-decoration: none;
  color: #fff;
}

.group-skills {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills {
  display: flex;
  align-items: center;
  width: auto;
  height: 15px;
  color: black;
  font-weight: 600;
  font-size: 12px;
  background-color: #fff;
  padding: 8px;
  gap: 6px;
  border-radius: 12px;
  pointer-events: none;
}

.btn-works button:hover {
  transform: translateY(-5px);
  color: #00ccffcc;
  border-color: #00ccffcc;
  font-weight: 600;
}

.btn-works button:hover svg {
  stroke: #00ccffcc;
}

/* Experience */

.box-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 2rem 5rem;
}

.text-experience h1 {
  font-size: 5rem;
  margin: 0px;
  filter: drop-shadow(0 0 5px #00ccffcc);
}

.card-exp {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 1.5rem;
  border-left: solid 4px #131314;
  gap: 1.5rem;
}

.content-exp {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #131314;
  border-radius: 12px;
  padding: 1rem;
}

.content-exp::after {
  content: "";
  position: absolute;
  margin-top: 4px;
  left: 16px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #131314;
}

.content-exp h1 {
  font-size: 2rem;
  margin: 0px 0px 4px;
  color: #00ccffcc;
}

.content-exp p {
  margin: 0px;
  font-size: 0.8rem;
  opacity: 0.8;
}

.content-exp p:nth-of-type(4) {
  font-size: 1rem;
  padding-right: 40px;
  opacity: 1;
  margin-top: 10px;
}


.cua {
  position: absolute;
  left: -8px;
  margin-top: 5px;
  width: 12px;
  height: 12px;
  background-color: #131314;
}

/* Contact */

.box-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 2rem;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.card-contact {
  background-color: #131314;
  width: 60%;
  border-radius: 12px;
}

.card-contact h1 {
  font-size: 4rem;
  filter: drop-shadow(0 0 5px #00ccffcc);
  margin: 1rem;
  text-align: center;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.form-contact input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.form-contact input:focus,
textarea:focus {
  outline: 2px solid #00ccffcc;
  outline-offset: 2px;
}

.form-contact textarea {
  padding: 10px;
  border-radius: 8px;
  resize: none;
  height: 80px;
  scrollbar-color: #00ccffcc #131314;
}

.form-contact button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #fff;
  background-color: #131314;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.form-contact button:hover {
  transform: translateY(-5px);
  border-color: #00ccffcc;
  color: #00ccffcc;
}


@media (max-width: 512px) {
  article {
    padding-left: 0;
  }

  .box-home {
    padding: 1rem;
  }

  .box-home h1 {
    font-size: 2.8rem;
  }

  .btn-home {
    font-size: 12px;
    padding: 8px 16px;
  }

  .content-about h1 {
    font-size: 2.8rem;
  }

  .page-about {
    height: auto;
  }

}

@media (max-width: 768px) {

  .active-para1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-about img {
    margin-right: 0px;
    border-radius: 50%;
    float: none;
    margin-top: 0px;
  }

  .text-scroll {
    overflow: scroll;
    max-height: 300px;
    overflow-x: hidden;
  }

  .card-works {
    flex-direction: column;
    width: 90%;
  }

  .card-text {
    width: 100%;
  }

  .card-img {
    width: 100%;
  }

  .title-works h1 {
    font-size: 2.5rem;
  }

  .box-experience {
    padding: 2rem;
  }

  .text-experience h1 {
    font-size: 2.5rem;
  }

  .card-contact {
    background-color: #131314;
    width: 95%;
    border-radius: 12px;
    overflow: hidden;
  }

  .card-contact h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 980px) {
  .box-img {
    display: none;
  }

  .content-exp {
    width: 100%;
  }

  .content-about {
    width: 95%;
  }

}

@media (min-width: 1553px) {

  .box-img {
    margin-top: 0px;
  }

  .box-home h1 {
    font-size: 5rem;
  }

  .box-home p {
    font-size: 1.2rem;
  }

  .img-web {
    width: 600px;
    height: 600px;
    padding-right: 3rem;
  }

  .btn-home {
    font-size: 20px;
  }

  .content-about img {
    width: 280px;
    height: 280px;
  }

  .content-about h1 {
    font-size: 6rem;
  }

  .content-about p {
    font-size: 1.3rem;
  }

  .skills-about {
    height: 20px;
    padding: 10px;
  }

  .card-works {
    width: 70%;
  }

  .card-exp {
    border-left: solid 6px #131314;
  }

  .content-exp h1 {
    font-size: 2.5rem;
  }

  .content-exp p {
    font-size: 1rem;
  }

  .content-exp p:nth-of-type(4) {
    font-size: 1.2rem;
  }

  .cua {
    left: -10px;
    width: 14px;
    height: 14px;
  }

}