body {
  padding: 0;
  margin: 0;
  background: #A3BAC3;
  font-family: "Kalam", cursive;
  color: #4b565a;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(#126b8f, #181D27);
  position: fixed;
  inset: 0;
}

.space {
  --size: 2px;
  --space-layer: 4vw 50vh 0 #fff, 18vw 88vh 0 #fff;
  width: var(--size);
  height: var(--size);
  background: #fff;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 75%;
  animation: moveStars var(--duration) linear infinite;
}

@keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
