---
import '@/styles/person.css';
---
<div class="box-img">
    <div class="stage">
        <div class="table" />
        <div class="pc" />
        <div class="cup" />
        <div class="cup-cover" />
        <div class="clock">
            <div class="marker-top" />
            <div class="marker-right" />
            <div class="marker-bottom" />
            <div class="marker-left" />
            <div class="pointer-min" />
            <div class="pointer-hour" />
            <div class="pointer" />
        </div>
        <div class="guy">
            <div class="hat">
                <div class="hat-hair" />
                <div class="hat-close" />
            </div>
            <div class="hair-left" />
            <div class="hair-middle" />
            <div class="hair-right" />
            <div class="ear-left" />
            <div class="ear-right" />
            <div class="face">
                <div class="eye" />
                <div class="eye" />
                <div class="nose" />
                <div class="mouth" />
            </div>
            <div class="neck" />
            <div class="body" />
        </div>
        <div class="book one"/>
        <div class="book two"/>
        <div class="book three"/>
    </div>
</div>
