---
interface Props {
  title: string;
}
import "@/styles/global.css";
import SpaceGenerator from "@/components/SpaceGenerator.astro";
import Navbar from "@/components/Navbar.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <SpaceGenerator />
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
